<%= form_for @user, type == 'login' ? { :url => 'login' } : {} do |f| %>
  <h3>Tessera - <%= title %></h3>

  <hr class="soften small-margin" />

  <%= javascript_tag do %>
    $(document).ready(function() {
      $("#polygon").storeVerticesAndDraw(
        $.parseJSON('<%= raw @vertices.to_json %>'),
        <%= @firstVertex %>,
        <%= @security %>
      );
    });
  <% end %>

  <% if @user.errors.any? or params.has_key?(:error) %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <% if @user.errors.any? %>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% else %>
        <%= params[:error] %>
      <% end %>
    </div>
  <% end %>

  <% if params.has_key?(:success) %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">×</a>
      <%= params[:success] %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.hidden_field :password %>
  </div>

  <div id="polygon">
    <canvas id="canvas" width="512" height="512">
      <p>Please get a modern browser.</p>
    </canvas>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :onclick => "$('#polygon').writePatternToHiddenField()", :class => 'btn btn-primary' %>
    <%= link_to 'Back', users_path, :class => 'btn' %>
    <hr class="soften small-margin" />
    <%= link_to 'Low Security', 'refresh/0', :class => 'btn btn-inverse' %>
    <%= link_to 'High Security', 'refresh/1', :class => 'btn btn-inverse' %>
  </div>
<% end %>
