<%= form_for(@user) do |f| %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("#polygon").storeVerticesAndDraw(
        $.parseJSON('<%= raw @vertices.to_json %>'),
        <%= raw @firstVertex %>
      );
    });
  <% end %>

  <% if @user.errors.any? or !params[:notice].empty? %>
    <div id="error_explanation">
      <% if @user.errors.any? %>
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      <% elsif !params[:notice].empty? %>
        <h2><%= params[:notice] %></h2>
      <% end %>
    </div>
  <% end %>

  <hr />

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.hidden_field :password %>
  </div>

  <p>Select some pattern based on this shape to act as your password:</p>
  <div id="polygon">
    <canvas id="canvas" width="512" height="512">
      <p>Please get a modern browser.</p>
    </canvas>
  </div>

  <div class="actions">
    <%= f.submit :onclick => "$('#polygon').writePatternToHiddenField()" %>
  </div>

  <hr />
<% end %>
