<%= form_for @user, type == 'login' ? { :url => 'login' } : {} do |f| %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("#polygon").storeVerticesAndDraw(
        $.parseJSON('<%= raw @vertices.to_json %>'),
        <%= @firstVertex %>,
        <%= @security %>
      );
    });
  <% end %>

  <% if @user.errors.any? or params.has_key?(:notice) %>
    <div id="error_explanation">
      <% if @user.errors.any? %>
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      <% else %>
        <h2><%= params[:notice] %></h2>
      <% end %>
    </div>
  <% end %>

  <hr class="soften" />

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.hidden_field :password %>
  </div>

  <div id="polygon">
    <canvas id="canvas" width="512" height="512">
      <p>Please get a modern browser.</p>
    </canvas>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :onclick => "$('#polygon').writePatternToHiddenField()" %>
  </div>
<% end %>
