<%= form_for(@user) do |f| %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("#polygon").drawPolygon(
        $.parseJSON('<%= raw @vertices.to_json %>')
      );
    });
  <% end %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div id="polygon">
    <canvas id="canvas" width="300" height="300">
      <p>Please get a modern browser.</p>
    </canvas>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
