<h1>Tessera</h1>

<hr class="soften" />

<% if params.has_key?(:notice) %>
  <div id="error_explanation">
    <h2><%= params[:notice] %></h2>
  </div>
<% end%>

<div class="buttons">
  <% if @loggedin %>
    <%= link_to 'User List', 'users/list', :class => 'btn btn-menu' %><br />
    <%= link_to 'Logout', 'users/logout', :class => 'btn btn-menu' %><br />
  <% else %>
    <%= link_to 'Login', 'users/login', :class => 'btn btn-primary btn-menu' %><br />
    <%= link_to 'Create New User', new_user_path, :class => 'btn btn-menu' %>
  <% end %>
</div>
