<h3>Tessera</h3>

<hr class="soften small-margin" />

<% if params.has_key?(:error) %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <%= params[:notice] %>
  </div>
<% end %>

<% if params.has_key?(:success) %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <%= params[:success] %>
  </div>
<% end %>

<br />

<div class="buttons">
  <% if @loggedin %>
    <%= link_to 'User List', 'users/list', :class => 'btn btn-menu' %><br />
    <%= link_to 'Logout', 'users/logout', :class => 'btn btn-menu' %><br />
  <% else %>
    <%= link_to 'Login', 'users/login', :class => 'btn btn-primary btn-menu' %><br />
    <%= link_to 'Create New User', new_user_path, :class => 'btn btn-menu' %>
  <% end %>
</div>
