<h1>Tessera</h1>

<% if params.has_key?(:notice) %>
  <div id="error_explanation">
    <h2><%= params[:notice] %></h2>
  </div>
<% end%>

<% if @loggedin %>
  <%= link_to 'User List', 'users/list' %><br />
  <%= link_to 'Logout', 'users/logout' %><br />
<% else %>
  <%= link_to 'Login', 'users/login' %><br />
  <%= link_to 'Create New User', new_user_path %>
<% end %>
